/* public/src/css/style.less */
@primaryColor : #00CCFF;
@secondary: #Abd5ec;
@tertiary: #c4afe2;
@morningbliss: orange;

body {
 font-size: 100%;
}
h1 {
  color: @morningbliss;
}
p {color: @primaryColor;}
h2 {
  color: @tertiary;
}
