/* public/src/css/style.less */

// includes
@import "grid.less";
@import "semantic-grid-helper.less";

// variables
// ------------------------
@total-width: 100%;

@baseblue: #0000ff;
@basegreen: #00ff00;
@basered: #ff0000;
@mauve: #630537;

@primaryColor : #00CCFF;
@secondary: #Abd5ec;
@tertiary: orange;
@morningbliss: orange;
@textdark: #cad1c1;
@textlight: #fafff2;

// Mixins
.responsive(@minWidth; @maxWidth; @rules) {
  @media only screen and (min-width: @minWidth) and (max-width: @maxWidth) {
    @rules();
  }
}

.changeAnimDefaults(@duration: 1s; @delay: 1s; @it-count: 1) {
  -moz-animation-duration: @duration;
  -moz-animation-delay: @delay;
  -moz-animation-iteration-count: @it-count;
}


// usage
body {
 margin: 0;
}
// Theme
h1 {
  color: @baseblue;
  .changeAnimDefaults(0.8s,2s,1);
  -moz-transition: all 1s ease-in 0.2s;

  .responsive(1101px, 1600px, {
    color: @tertiary;
  });
	.responsive(601px, 1100px, {
    color: @tertiary;
  });
  .responsive(351px, 600px, {
    color: @textdark;
  });
  .responsive(0px, 350px, {
    color: @textdark;
  });
}

h2 {color: @tertiary;}
p {color: @textlight;}

// Base
.col {
  &1 {
    background-color: @tertiary;
    #grid > .setGridWidths(6, 8, 2, 3);
  }
  &2 {
    background-color: #f0f9e3;
    #grid > .setGridWidths(6, 2, 4, 5);
  }
  &3 {
    background-color: #cad1c1;
    #grid > .setGridWidths(12, 2, 6, 8);
  }
}

// Animate column width changes across breakpoints
.col1,
.col2,
.col3 {
  height: 300px;
  -webkit-transition: all 1s ease-in 0.2s;
     -moz-transition: all 1s ease-in 0.2s;
      -ms-transition: all 1s ease-in 0.2s;
       -o-transition: all 1s ease-in 0.2s;
          transition: all 1s ease-in 0.2s;
  .inner {
    height: 100%;
    padding: 5px;
    width: 100%;
  }
}
