/* public/src/css/style.less */

// includes
@import "grid.less";
@import "semantic-grid-helper.less";

// variables
// ------------------------
@total-width: 100%;

@baseblue: #0000ff;
@basegreen: #00ff00;
@basered: #ff0000;
@mauve: #630537;

@primaryColor : #00CCFF;
@secondary: #Abd5ec;
@tertiary: #c4afe2;
@morningbliss: orange;

// Mixins
.responsive(@minWidth; @maxWidth; @rules) {
  @media only screen and (min-width: @minWidth) and (max-width: @maxWidth) {
    @rules();
  }
}

// usage
body {
 font-size: 100%;
 margin: 0;
}
// Theme
h1 {
  color: @baseblue;
  border-bottom: 1px dotted @baseblue;
  .responsive(481px, 768px, {
    color: @basegreen;
  });
	.responsive(767px, 1024px, {
    color: @morningbliss;
  });
  .responsive(0px, 480px, {
    color: @mauve;
  });
}

// Base
.col {
  &1 {
    background-color: @mauve;
    #grid > .setGridWidths(6, 8, 2, 3);
  }
  &2 {
    background-color: #f0f9e3;
    #grid > .setGridWidths(6, 2, 4, 5);
  }
  &3 {
    background-color: #cad1c1;
    #grid > .setGridWidths(12, 2, 6, 8);
  }
}

// Animate column width changes across breakpoints
.col1,
.col2,
.col3 {
  height: 300px;
  -webkit-transition: all 1s ease-in 0.2s;
     -moz-transition: all 1s ease-in 0.2s;
      -ms-transition: all 1s ease-in 0.2s;
       -o-transition: all 1s ease-in 0.2s;
          transition: all 1s ease-in 0.2s;
}

p {color: @primaryColor;}
h2 {color: @tertiary;}
